<div class="right-panel">
    <a href="{% url 'dashboard-users' %}" class="nav-button">
        <span>
            <i class="fas fa-users icon"></i>
            Users
        </span>
        <i class="fas fa-chevron-right arrow"></i>
    </a>
    
    <a href="{% url 'dashboard-transaction' %}" class="nav-button">
        <span>
            <i class="fas fa-money-bill-wave icon"></i>
            Transaction
        </span>
        <i class="fas fa-chevron-right arrow"></i>
    </a>
    
    <a href="{% url 'dashboard-category' %}" class="nav-button">
        <span>
            <i class="fas fa-tags icon"></i>
            Category
        </span>
        <i class="fas fa-chevron-right arrow"></i>
    </a>
</div>
